# Virtual environments
.hog/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Build / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db